@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.defaultFont {
  font-family: "Arial";
  font-style: normal;
}

.headerTitle {
  font-weight: bold;
  color: #1a3559;
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 24px;
  text-align: left;

  @include respond-to("sm") {
    font-size: 38px;
    margin-bottom: 44px;
    text-align: center;
  }
}
