@import "variables";

html,
body {
  height: 100%;
  line-height: 1.5;
}

body {
  font-family: $body-font;
  margin: 0px;
  background-color: $ps-orange;
}

body.fontLoaded {
  font-family: $body-font;
}

#root {
  background-color: #fafafa;
  height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: $body-font;
  line-height: 1.5em;
}
